* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;

  padding: 20px 36px 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
}
.nav--logo {
  max-width: 100px;
}
grid {
  display: flex;
  flex-direction: column;
}
.hero--logo {
  align-self: center;
  max-width: 400px;
  margin-top: 10px;
}

.star {
  color: red;
}

.card1 {
  max-width: 200px;
  height: auto;

  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
  padding-right: 20px;
}
.cards_list {
  display: flex;
  flex-wrap: nowrap;

  overflow-x: auto;
}

.card1--fonts {
  color: gray;
  font-size: 1em;
}

.title {
  min-width: 135px;
  min-height: 36px;
}

.description {
  min-width: 135px;
  min-height: 162px;
}
.card--badge {
  position: absolute;
  top: 20px;
  left: 16px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.btn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  border-style: none;
  background-color: blanchedalmond;
}
